<div id="<%= dom_id comic %>">
  <p>
    <strong>Month:</strong>
    <%= comic.month %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= comic.num %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= comic.link %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= comic.year %>
  </p>

  <p>
    <strong>News:</strong>
    <%= comic.news %>
  </p>

  <p>
    <strong>Safe title:</strong>
    <%= comic.safe_title %>
  </p>

  <p>
    <strong>Transcript:</strong>
    <%= comic.transcript %>
  </p>

  <p>
    <strong>Alt:</strong>
    <%= comic.alt %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= comic.img %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= comic.title %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= comic.day %>
  </p>

</div>
