<div class="container" style="padding-top: 10px; display: flex; justify-content: center; width: 300px;">
  <%= link_to "<button>Inicio</button>".html_safe, root_url, method: :get %>
</div>

<div class="container" style="padding-top: 50px">
  <%= form_tag "/comics", method: "GET" do %>
    <strong><%= label_tag "Numero de C贸mic" %></strong>
    <%= number_field_tag :search_by_number, params[:search_by_number], min: 1, autocomplete: false%>

    <%= submit_tag "Buscar" %>
  <% end %>
</div>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div style="text-align: center">
    <h1>XKCD Comic API</h1>
  </div>

  <div id="comic" style="display: flex; justify-content: center; align-items: stretch; flex-wrap: wrap; flex-direction: column; align-content: space-around;">
    <div class="col">
      <% if @max_number >= 2 %>
        <%= link_to "<button>C贸mic Anterior</button>".html_safe, root_url(:comic_id => @max_number - 1), method: :get %>
      <% end %>
      <%= image_tag "#{@comic['img']}", alt: "#{@comic['alt']}" %>
      <% if @max_number == 403 %>
        <%= link_to "<button>C贸mic Siguiente</button>".html_safe, root_url(:comic_id => @max_number + 2), method: :get %>
      <% else %>
        <% if @max_number != @last %>
          <%= link_to "<button>C贸mic Siguiente</button>".html_safe, root_url(:comic_id => @max_number + 1), method: :get %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div style="text-align: center">
    <h2>
      <%= @comic['title'] %>
    </h2>
  </div>
</div>