<div class="container" style="padding-top: 50px">
  <%= form_tag "/comics", method: "GET" do %>
    <strong><%= label_tag "Numero de Cómic" %></strong>
    <%= number_field_tag :search_by_number, params[:search_by_number], min: 1, autocomplete: false%>

    <%= submit_tag "Buscar" %>
  <% end %>
</div>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div class="container">
  <div style="text-align: center">
    <h1>XKCD Comic API</h1>
  </div>

  <div id="comic" style="display: flex; justify-content: center; align-items: stretch; flex-wrap: wrap; flex-direction: column; align-content: space-around;">
    <div class="col">
      <%= link_to "<button>Cómic Anterior</button>".html_safe, root_url(:comic_id => @max_number - 1), method: :get %>
      <%= image_tag "#{@comic['img']}", alt: "#{@comic['alt']}" %>
      <% if !@disabled %>
        <%= link_to "<button>Cómic Siguiente</button>".html_safe, root_url(:comic_id => @max_number + 1), method: :get %>
      <% end %>
    </div>
  </div>
  <div style="text-align: center">
    <h2>
      <%= @comic['title'] %>
    </h2>
  </div>
</div>